
= form_for @person, :url => { :action => "create"}, :html => {:class => "nifty_form"} do |f|
	= f.label :name
	= f.text_field :name
	= f.label :email
	= f.text_field :email
	= f.label "Phone Number ex: 0123456789"
	= f.text_field :phone
	= f.label :address
	= f.text_field :address
	%br
	%br

	=f.submit "Create", :class => "btn btn-success"

	%br
	%br
	%br
	=link_to "Back", home_path, :class => "btn btn-primary"