%br
= link_to "Create a new event", new_event_path, class: "btn btn-success"

-@erik = 'Erik Chen'
-@harrison = 'Harrison Yu'
%br
%br
-if User.find_by_id(current_user.id).name == @erik || User.find_by_id(current_user.id).name == @harrison
  =link_to "Webparser", web_crawler_event_path, class: "btn btn-inverse"

%br
%br

/= link_to "Search", search_home_path, class: "btn btn-inverse"
%br
%br
%br

%table.table.table-bordered
  %thead
    %tr               
      %th Name:
      %th Add to MyEvents
      -if User.find_by_id(current_user.id).name == @erik || User.find_by_id(current_user.id).name == @harrison
        %th Delete

  %tbody
    - @events.each do |e|
      %tr
        %td 
          = link_to e.name, show_event_path(e.id), class: "linkify-td"
        %td
          = link_to "Add to MyEvents", add_myevent_path(e.id), class: "btn"
        -if User.find_by_id(current_user.id).name == @erik || User.find_by_id(current_user.id).name == @harrison
          %td
            = link_to "Delete", delete_event_path(e.id), class: "btn btn-danger"
%br


%br
<font = 5> People: </font>
%br
%br
-@persons.each do |h|
  %tr
    %td
      = link_to h.name, show_person_path(h.id), class: "linkify-td"
%br
%br
%br
= link_to "Create New Person", new_person_path, class: "btn"
%br
%br
%br
=link_to "Back", root_path, class: "btn btn-primary"
%br
%br
%br
%br
%br