Searching For:
=@form
%br
%br

Events
%table.table.table-bordered
  %thead
    %tr               
      %th Name:
      %th Add to My Events:
  %tbody
    - @search.each do |e|
      %tr
        %td 
          = link_to e.name, show_event_path(e.id), class: "linkify-td"
        %td
          = link_to "Add to My Events", add_myevent_path(e.id), class: "btn"

  %br

%br
People:
%table.table.table-bordered
  %thead
    %tr               
      %th Name:
  %tbody
    - @search_person.each do |e|
      %tr
        %td 
          = link_to e.name, show_person_path(e.id), class: "linkify-td"
  %br

%br
Natural Join of Sponsors and Events (Based on the search for the name of the sponsor):
%br
Note: Did not print out all of the Event or the Sponsor's Information. Click on the Name for more information.
%table.table.table-bordered
  %thead
    %tr               
      %th Name of Sponsor:
      %th Event Names:
  %tbody
    - @join.each do |e|
      - @x = Sponsor.find_by_sponsorName(e.name)
      - @y = Event.find_by_id(@x.event_id)
      %tr
        %td 
          = link_to e.name, show_person_path(e.id), class: "linkify-td"
        %td
          = link_to @y.name, show_event_path(@y.id), class: "linkify-td"
          &nbsp;
        %td
          = link_to "Add to My Events", add_myevent_path(@y.id), class: "btn"

%br
%br
= link_to "Back", search_home_path, class: "btn btn-primary"
%br
%br
%br
%br
%br