
= form_for @event, :url => { :action => "create"}, :html => {:class => "nifty_form"} do |f|
	= f.label :name
	= f.text_field :name
	= f.label :event_type
	= f.text_field :event_type
	= f.label :event_start_time
	= f.date_select :event_start_time, :end_year => Time.now.year+5, :start_year => Time.now.year-2, :order => [:month, :day, :year]
	= f.label :event_end_time
	= f.date_select :event_end_time, :end_year => Time.now.year+5, :start_year => Time.now.year-2, :order => [:month, :day, :year]
	= f.label "Cost in dollars"
	= f.text_field	:cost
	= f.label :location
	= f.text_field :location
	= f.label :description
	= f.text_field :description
	= f.label :registration_deadline
	= f.date_select :registration_deadline, :end_year => Time.now.year+5, :start_year => Time.now.year-2, :order => [:month, :day, :year]
	= f.label :food
	= f.select :food, ['No','Yes']
	%br
	%br

	=f.submit "Create", :class => "btn btn-success"

	%br
	%br
	%br
	=link_to "Back", home_path, :class => "btn btn-primary"
	%br
	%br
	%br
